.content {
    width: 100%;
}

.content .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.content .header .path {
    display: flex;
    gap: 10px;
}

.content .header a {
    color: var(--dark-grey-color);
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid white;;
}

.content .header a:hover {
    border-bottom: 1px solid var(--dark-grey-color);
}

.content .header .create-folder-btn {
    border: 1px solid var(--light-grey-color);
    padding: 9px 18px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    color: var(--dark-grey-color);
}

.folders-notes {
    display: flex;
    gap: 40px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.folder {
    display: block;
    text-decoration: none;
    color: white;
}

.folder .one {
    width: 60px;
    height: 13px;
    background-color: var(--accent-color);
    border-radius: 10px 10px 0 0px;
    filter: brightness(0.9);
}

.folder .two {
    width: 180px;
    height: 130px;
    background-color: var(--accent-color);
    border-radius: 0 5px 5px 5px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
}

.folder .two .name {
    font-weight: 600;
    font-size: 14px;
}

.folder .two .notes {
    font-size: 12px;
    color: rgb(235, 234, 234);
}

.folder:hover {
    transform: scale(1.02);
    transition: 0.1s;
}
