{% extends 'base.html' %}

{% block title %}
    Folders
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/folder.css') }}">
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}


{% block body %}

    {% include "parts/sidebar.html" %}

    <div class="content">

        <div class="header">
            <div class="path">
                {{ path | safe }}
            </div>
            <button class="create-folder-btn" onclick="openModal('create-folder')">
                New folder   +
            </button>
            <button class="create-folder-btn" onclick="openModal('create-note')">
                New note   +
            </button>
        </div>

        <div class="folders-notes">
            {% for subfolder in subfolders %}
                <a href="/folders/{{ subfolder.id }}" class="folder">
                    <div class="one"></div>
                    <div class="two">
                        <div class="notes">
                            {{ subfolder.notes|length }} notes
                        </div>
                        <div class="name">
                            {{ subfolder.name }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        <!--- Modal windows --->
        {% from "modal.html" import modal_window %}

        <!--- create folder --->
        {{ modal_window(
                    'create-folder',
                    '<i class="fa-solid fa-folder-plus fa-bounce"></i>',
                    'New folder',
                    '<input type="text" name="name" id="name">',
                    'You can rename or delete it at any time',
                    'Create'
        ) }}

        <!--- create note --->
        {{ modal_window(
                    'create-note',
                    '<i class="fa-solid fa-note-sticky fa-bounce"></i>',
                    'New Note',
                    '<input type="text" name="name" id="name">',
                    'You can rename, change or delete it at any time',
                    'Create'
        ) }}


    </div>

{% endblock %}