{% extends 'base.html' %}

{% block title %}
    Folders
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/folder.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/context_menu.css') }}">
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}


{% block body %}

    {% include "parts/sidebar.html" %}

    <div class="content">

        <div class="header">
            <div class="title">Workspace</div>
            <button class="create-folder-btn" onclick="openModal('create-folder')">
                New folder +
            </button>
            <button class="create-folder-btn" onclick="openModal('create-note')">
                New Note +
            </button>
        </div>

        <div class="folders-notes">
            {% for folder in folders %}
                <a href="/folders/{{ folder.id }}" class="folder" data-id="{{ folder.id }}">
                    <div class="one"></div>
                    <div class="two">
                        <div class="name">
                            {{ folder.name }}
                        </div>
                        <div class="notes">
                            12 notes
                        </div>
                    </div>
                </a>
                <div id="folder-menu">
                </div>
            {% endfor %}
        </div>

        <!--- Modal windows --->
        {% from "modal.html" import modal_window %}

        <!--- create folder --->
        {{ modal_window(
                    'create-folder',
                    '<i class="fa-solid fa-folder-plus fa-bounce"></i>',
                    'New folder',
                    '<input type="text" name="name" id="name">',
                    'You can rename or delete it at any time',
                    'Create'
        ) }}

        <!--- create note --->
        {{ modal_window(
                    'create-note',
                    '<i class="fa-solid fa-note-sticky fa-bounce"></i>',
                    'New Note',
                    '<input type="text" name="name" id="name">',
                    'You can rename or delete it at any time',
                    'Create'
        ) }}


    </div>

{% endblock %}